.App {  
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.Centered-text {
  text-align: center;
}

.App-header {
  flex: 1;  
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.Description-text {
  opacity: 0.5;
  text-align: center;
}

.Main-text {
  width: 60%;
  margin-bottom: 35px
}

.Footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  bottom: 0;
  background-color: #222;
  height: 5%;
  width: 100%;
}
