.App {  
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.Centered-text {
  text-align: center;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.Main-text {
  width: 50%;
}

.Footer {
  align-self: flex-end;
  width:100%;
  height: 50;
  background-color: #222;
}
